
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700;400&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

canvas{
  background:#fff;
  height:400px;
}

.chartWrapper{
  width:100%;
  display:block;
  overflow:hidden;
  margin:0 auto;
  background:#fff;
  border-radius:4px;
}

.skewedSplitter {
  position: absolute;
  top: 30vh;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: #3D8B37;
  z-index: 0;
  -webkit-transform: skewY(4deg);
  transform: skewY(4deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.entryText {
  background: #3D8B37;
}

.headerBgImage {
  background-image: url('https://images.unsplash.com/photo-1548337138-e87d889cc369?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2392&q=80');
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

thead {
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th {
  width: 7.69%;
  text-align: center;
}

td:first-child {
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  text-align: start;
}

tbody td {
  text-align: end;
}

thead th {
  font-size: small;
}

ol > li {
  display: list-item !important;
}